h1 {
  font-size: 3rem;
  font-family: 'IBM Plex Mono';
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.background {
  background-image: url("../public/background.jpg");
  height: fit-content;
  width: 100%;

  display: flex;
  justify-content: center;
}

.name-card {
  width: 60%;
  padding-top: 10rem;

  display: flex;
  flex-direction: column;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-cursor::after{
  content: "|";
  animation: blink 1s step-start infinite;
}